.Rproj.user
.Rhistory
.RData
.Ruserdata
preregistration/feedback_TS
preregistration/feedback_RR
preregistration/feedback_JM
recalc
images/clipboard-943835312.png
images/clipboard-3372179604.png
images/clipboard-4252640567.png
notes/001/Creer_add.pdf
notes/002/Simao002.pdf
notes/002-2/osfstorage-archive
notes/002-2/osfstorage-archive.zip
notes/002-2/Simao002-2.pdf
notes/004/004.pdf
notes/005/005.pdf
notes/005/Fig2.png
notes/005/suppl.docx
notes/005/Higbie_add.pdf
notes/005/Häkkinen_add.pdf
notes/005/*.csv
notes/006/Fu006.pdf
notes/006/suppl.docx
notes/006/006.pdf
notes/006/Lee_add.pdf
notes/005/Franchi005.pdf
notes/007/Hayes007.pdf
notes/007/007.pdf
notes/007/Acute data OSF 1.2.xlsx
notes/007/forest_S6.1.png
notes/007/Hayes_fig2.png
notes/007/suppl_S2_study_info.docx
notes/007/suppl.docx
notes/007/wpd_project.json
notes/009/009.pdf
notes/009/MartínezGuardado009.pdf
notes/010/010.pdf
notes/019/019.pdf
notes/019/bjsports-2023-107625supp001_data_supplement.pdf
notes/018-2/40279_2024_2123_MOESM1_ESM.docx
notes/018-2/018-2.pdf
notes/013/013.pdf
notes/021/021.pdf
notes/021/40279_2024_2114_MOESM1_ESM.docx
notes/022/Hammond_Fig6A.png
notes/022/022.pdf
notes/022/hammond_fig6a.tar
notes/022/Hammond022.pdf
notes/022/Hearris_add.pdf
notes/022/Hearris_Fig5A.png
notes/022/hearris_fig5a.tar
notes/022/Psilander_add.pdf
notes/022/Steinberg_add.pdf
notes/022/Wojtaszewski_add.pdf
notes/024/Eguchi024.pdf
notes/024/Elliott_add.pdf
notes/024/Fang_add.pdf
notes/024/forest_data.csv
notes/024/Grandjean_add.pdf
notes/024/*.docx
notes/025/Wolfenden025.pdf
notes/031/Arthur031.pdf
notes/031/031.pdf
notes/031/Christle_add.pdf
notes/031/Ghannem_add.pdf
notes/029/Becker_add.pdf
notes/029/Attwood029.pdf
notes/028/bjsports-2024-108127supp001_data_supplement.pdf
notes/028/028.pdf
notes/026/MoraRodriguez026.pdf
notes/026/026.pdf
notes/034/034.pdf
notes/032/Horiuchi_add.pdf
notes/032/Carter032.pdf
notes/032/bjsports-2024-108444supp001_data_supplement.pdf
notes/032/032.pdf
notes/032/1-s2.0-S1658361223000410-mmc1.docx
notes/032/osfstorage-archive
notes/039/es_fig1_Gorman.tar
notes/039/Fig1_Gorman.png
notes/039/Gorman039.pdf
notes/035/035.pdf
notes/036/036.pdf
notes/036/40279_2024_2087_MOESM1_ESM.docx
notes/036/40279_2024_2087_MOESM2_ESM.docx
notes/036-2/036-2.pdf
notes/038/038.pdf
notes/038/rjsp_a_2388984_sm1578.docx
notes/039/es_fig2_murgia.tar
notes/039/es_fig3a_gibbett.tar
notes/039/Fig2_murgia.png
notes/039/Fig3A_Gabbett.png
notes/039/Gabbett039_second.pdf
notes/039/Murgia039_third.pdf
notes/039/Fig3_Gabbett.png
notes/047/Lee_add.pdf
notes/045/Cormie_add.pdf
notes/045/045.pdf
notes/045/LS---10.1519-JSC.0000000000004839-main
notes/043/Ballin043.pdf
notes/043/Arad_add.pdf
notes/041/Jendricke041.pdf
notes/040/Spillane040.pdf
notes/040/Desai-CrLBM-Analysis.R
notes/040/Desai-CrLBM-Review-Data.xlsx
notes/040/040.pdf
notes/040-2/040-2.pdf
notes/049/049.pdf
notes/049/Behringer_imputation_source.pdf
notes/050/050.pdf
notes/050/Bily050.pdf
notes/050/bjsports-2024-108145supp003_data_supplement.pdf
notes/050/Jing050.pdf
notes/051/051.pdf
notes/051/Lam_add.pdf
notes/051/Liu_add.pdf
notes/051/Rawdata.xlsx
notes/051/Takenori_add.pdf
notes/051/Tsang_add.pdf
notes/051-2/051-2.pdf
notes/049/deOliveira_add.pdf
notes/049/Kim049.pdf
notes/052/052.pdf
notes/052/Zimmermann_add.pdf
notes/052/Bomfirm-Lima_add.pdf
notes/018/Richardson018.pdf
notes/018/018.pdf
notes/063/40279_2024_2020_MOESM1_ESM.docx
notes/063/063.pdf
notes/061/Opdenacker061.pdf
notes/061/Boshuizen_add.pdf
notes/056-2/Wewege_add.pdf
notes/056-2/Pessoa_add.pdf
notes/056/Hviid056.pdf
notes/055/Sermaxhaj055.pdf
notes/055/MayorgaVega_add.pdf
notes/055/Aquino_add.pdf
notes/055/*.cma
notes/055/*.csv
notes/055/
notes/053/Ammendolia_add.pdf
notes/053/053Stergioulas.pdf
notes/053/053.pdf
notes/053/053_forest.tar
notes/053/053_forest.png
notes/053/Meta-Essentials_1.5_01
notes/053/Takenori_add.pdf
notes/062/Paavolainen_062.pdf
notes/062/*.xlsx
notes/065/mmc1.docx
notes/065/FigS6.png
notes/065/065.pdf
notes/065/065_S6.tar
notes/064/Zaroni_add.pdf
notes/064/Thomas064.pdf
notes/064/064.pdf
notes/086/*.xlsx
notes/086/Skovgaard_add.pdf
notes/086/Kelly086.pdf
notes/086/Damasceno_add.pdf
notes/085/Robinson_add.pdf
notes/080/Rawson080.pdf
notes/080/Rawson080_suppl.pdf
notes/080/Poier_add.pdf
notes/079/YilmazGokmen079.pdf
notes/079/079.pdf
notes/075/075.pdf
notes/075/Lennon_add.pdf
notes/075/Moncion 2024 suppl.pdf
notes/075/Potempa075.pdf
notes/075/*.zip
notes/068/Winding068.pdf
notes/068/068.pdf
notes/090/Kraemer090.pdf
notes/090/Kraemer_add.pdf
notes/090/jscr_2023_08_26_cruz_1_sdc1.docx
notes/090/Jenkins_add.pdf
notes/090/Fig2.png
notes/090/090.pdf
notes/090/090_Fig2.tar
notes/090-2/090-2.pdf
notes/090-2/Jenkins090-2.pdf
notes/089/Vukovich_add.pdf
notes/089/Portal_089.pdf
notes/089/Lamboley_add.pdf
notes/089/089.pdf
notes/087/Supplementary File_Hassett et al_Physical recreation for physical or intellectual disability_BJSM.pdf
notes/087/Supplemental Table_Hassett et al_Physical recreation for physical or intellectual disability_BJSM_2.xlsx
notes/087/087.pdf
notes/102/West_add.pdf
notes/102/Upton_add.pdf
notes/102/Spinks102.pdf
notes/102/40279_2023_1952_MOESM2_ESM.pdf
notes/102/102.pdf
notes/095-2/40279_2023_1974_MOESM1_ESM.pdf
notes/095-2/095-2.pdf
notes/095/McCurdy095.pdf
notes/095/095.pdf
notes/092/Mirmoezzi_add.pdf
notes/092/Keane_add.pdf
notes/092/jscr_2023_07_07_campillo_1_sdc1.docx
notes/092/Cuesta-Vargas092.pdf
notes/092/092.pdf
notes/092-2/092-2.pdf
notes/092-2/Cuesta-Vargas092-2.pdf
notes/129/Palmieri129.pdf
notes/129/129.pdf
notes/128/128.pdf
notes/128/dose_response_code.R
notes/128/PA_hospitals_BJSM_data.xlsx
notes/126-2/Contreras126-2.pdf
notes/126-2/40279_2023_1902_MOESM1_ESM.docx
notes/126-2/126-2.pdf
notes/126/Contreras126.pdf
notes/126/126.pdf
notes/120/Asadi120.pdf
notes/120/120.pdf
notes/120-2/120-2.pdf
notes/119/Moreno-Perez_add.pdf
notes/119/Maloney_add.pdf
notes/119/Dann_add.pdf
notes/119/Cochrane119.pdf
notes/117/Bolam117.pdf
notes/117/Bolam_Fig2.png
notes/117/117.pdf
notes/117/117_Bolam_Fig2.tar
notes/113/Spinks_add.pdf
notes/113/113.pdf
notes/109-2/109-2.pdf
notes/109-2/*ESM.r
notes/109/109.pdf
notes/107/Romance_add.pdf
notes/107/R file_Meta_HC_OSF.R
notes/107/HC_Meta_Data_OSFready.xlsx
notes/107/Dalgaard107.pdf
notes/105/Thelwell105.pdf
notes/105/Barnicle_add.pdf
notes/104/revmandata.csv
notes/104/Mikkola104.pdf
notes/140/Gupta140.pdf
notes/140/Buttner_add.pdf
notes/140/bjsports-2023-November-57-22-1442-inline-supplementary-material-3.pdf
notes/140/140.pdf
notes/140/Field_add.pdf
notes/140-2/140-2.pdf
notes/140-2/Gupta140-2.pdf
notes/139/Hoffmann_add.pdf
notes/139/Lavretsky139.pdf
notes/139/40279_2023_1869_MOESM2_ESM.docx
notes/139/40279_2023_1869_MOESM1_ESM.docx
notes/137/Weakley_137.pdf
notes/139/139.pdf
notes/134/134.pdf
notes/134/Mason_add.pdf
notes/134/Menek_add.pdf
notes/134/Teo134.pdf
notes/134-2/134-2.pdf
notes/134-2/Teo134-2.pdf
notes/136/Padilha136.pdf
notes/136/Pinto_add.pdf
notes/131/131.pdf
notes/131/bjsports-2019-July-53-14-859-inline-supplementary-material-1.docx
notes/131/Naci_add.pdf
notes/159/Wong_add.pdf
notes/159/Son_add.pdf
notes/159/Bruyndonckx_add.pdf
notes/159/bjsports-2022-106285supp001_data_supplement.pdf
notes/159/Bharath159.pdf
notes/159/159.pdf
notes/158/OConnor_add.pdf
notes/158/Jones158.pdf
notes/158-2/Larsen158-2.pdf
notes/157/Cornette157.pdf
notes/152/Lavender_add.pdf
notes/152/Chen152.pdf
notes/152/Huang_add.pdf
notes/152/Huang_Fig3A.png
notes/152/Huang_Fig3A.tar
notes/152/40279_2023_1839_MOESM1_ESM.pdf
notes/152/Nosaka_add.pdf
notes/149/Tjonna_add.pdf
notes/149/149.pdf
notes/149/Trapp_add.pdf
notes/149/Trilk_add.pdf
notes/148/Adams148.pdf
notes/145/Gallagher145.pdf
notes/145/145.pdf
notes/178/Sims178.pdf
notes/178/Sims178.docx
notes/178/Howe_add.pdf
notes/178/DeSousa_add.pdf
notes/178/178.pdf
notes/177/Reichkendler177.pdf
notes/172/strength_MA.csv
notes/172/stat_stretch_final.qmd
notes/172/data.rda
notes/172/AbdelAziem172.pdf
notes/170/Singh_add.pdf
notes/170/Sims_add.pdf
notes/165/Hagan_add.pdf
notes/165/Kiens165.pdf
notes/164/Ostojic_add.pdf
notes/164/Nelson164.pdf
notes/164/164.pdf
notes/163/163.pdf
notes/163/Nonnato163.pdf
notes/160/Young160.pdf
notes/160/Witassek_add.pdf
notes/186/Irving186.pdf
notes/186/186.pdf
notes/186/Ronnestad_add.pdf
notes/184/Moltubakk184.pdf
notes/184/Minshull_add.pdf
notes/184/184.pdf
notes/183/Wilson183.pdf
notes/183/40279_2022_1800_MOESM7_ESM.xlsx
notes/183/40279_2022_1800_MOESM6_ESM.xlsx
notes/183/40279_2022_1800_MOESM5_ESM.xlsx
notes/183/40279_2022_1800_MOESM4_ESM.xlsx
notes/183/40279_2022_1800_MOESM3_ESM.xlsx
notes/183/40279_2022_1800_MOESM2_ESM.xlsx
notes/183/183.pdf
notes/183-2/183.pdf
notes/183-2/Wilson183-2.pdf
notes/181/Sallis_add.pdf
notes/181/mmc1.pdf
notes/181/181.pdf
notes/181/Fedewa181.pdf
notes/180/Smale_add.pdf
notes/180/180.pdf
notes/180/1-s2.0-S2095254621000922-mmc1.docx
notes/180-2/180-2.pdf
notes/180-2/Dascombe180-2.pdf
notes/179/Barbosa179.pdf
notes/197/Radaelli_add.pdf
notes/197/40279_2022_1769_MOESM1_ESM(1).docx
notes/197/197.pdf
notes/197/cor_ref/Csapo_add.pdf
notes/197/cor_ref/Khoury_add.pdf
notes/197/cor_ref/Orssatto_add.pdf
notes/193/Data and Code
notes/193/Data and Code.zip
notes/193/Terada193.pdf
notes/192/Yasuda_add.pdf
notes/192/Botton192.pdf
notes/192/192.pdf
notes/190/Sundstrup_add.pdf
notes/190/Uth_add.pdf
notes/190/Pereira_add.pdf
notes/190/Andersen_add.pdf
notes/209/Zavanela_209.pdf
notes/209/Wood_add.pdf
notes/209/jscr_2022_01_11_igarashi_08-17431_sdc1.pdf
notes/209/209.pdf
notes/202/osfstorage-archive.zip
notes/202/Haykowsky_add.pdf
notes/202/Figueroa_add.pdf
notes/202/Campos202.pdf
notes/202/osfstorage-archive
notes/200/Kishita_corr.pdf
notes/200/Griefahn200.pdf
notes/200/200.pdf
notes/200/Griefahn_add.pdf
notes/202/202_es_comparison.png
notes/202/Markov_2022_dataextract-calculations.xlsx
notes/202/Markov_2022_dataextract-calculations_annotated.xlsx
notes/202/Holviala_add.pdf
backup/*
db/*
